name: Continuous Integration (CI)

## Run CI jobs on all branches by default
on:
  push:
  pull_request:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-22.04
    steps:
      - name: Check out the Git repository
        uses: actions/checkout@v4

      - name: Set up Java toolchain
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "gradle"

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Run unit tests
        run: ./gradlew test

      - name: Run Static Analysis with PMD
        run: ./gradlew pmdMain

      - name: Upload PMD Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
            name: pmd-report
            path: build/reports/pmd/

      - name: Deploy to PaaS
        if: github.ref == 'refs/heads/main'
        run: echo "Deploying to Koyeb..."